.code-label-wrapper {
    position: relative;
    display: table;
	border: 3px #bfdcae dashed;
	cursor: pointer;
	padding: 2%;
}

.code-label-text {
    font-size: 20pt;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
	text-align: center;
	font-family: monospace;
}