.App {
	margin: auto;
	width: 60%;
	min-width: 600px;
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body, #root, .App {
	height: 100%;
}

body {
	background-color: #81b214;
}