.App {
	margin: auto;
	width: 60%;
	min-width: 800px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

html,
body,
#root,
.App {
	height: 100%;
}

body {
	background-color: #206a5d;
}

.btn {
    font-family: inherit;
    font-weight: normal;
    cursor: pointer;
    padding: 20px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
	border-radius: 40px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border: none;
	background-color: white;
	color: black;
	font-size: 12pt;
}

.btn:hover {
	background-color: #bfdcae;
    color: black;
}

.textbox {
	padding: 0 12px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
