.game {
	text-align: center;
}

.board {
	margin: 0 auto;
}

.board td {
	width: 100px;
	height: 100px;
	border: 3px #206a5d solid;
	border-radius: 10px;
	background-color: #f1f1e8;
}

.mark {
	font-size: 50pt;
    margin: 0;
    top: -8%;
    position: relative;
}
